<div><h3>Current Schedule</h3></div>
<div><h4>Scheduled</h4></div>
<div><table>
<tr><th>Scheduled</th><th>Name</th><th>Class</th><th>Commands</th></tr>
#import time
#for $task in $schedule
<tr><td>#echo time.strftime('%H:%M:%S',time.localtime($task.at))#</td>
<td><a href='$base/task?id=$task.master_id'>$task.name</a></td>
<td>$task.classname</td>
<td><a href='$base/remove_task?id=$task.master_id'>Remove</a>&nbsp;
<a href='$base/reschedule_task?id=$task.master_id'>Reschedule</a> 
<td></tr>

#end for
</table></div>
<div><h4>Running</h4></div>
<div><table>
<tr><th>Started</th><th>Name</th><th>Class</th></tr>
#for $task in $running
<tr><td>#echo time.strftime('%H:%M:%S',time.localtime($task.started))#</td>
<td><a href='$base/task?id=$task.master_id'>$task.name</a></td>
<td>$task.classname</td></tr>
#end for
</table></div>
