<div><h2>DAS Analytics Server<h2></div>
<div>This is the web interface for the analytics server.</div>
<div>
<table>
<tr><td><a href='$base/schedule'>Schedule</a></td><td>Tasks currently scheduled for future execution.</td></tr>
<tr><td><a href='$base/results'>Results</a></td><td>Results of previously-run tasks.</a>
<tr><td><a href='$base/logger'>Log</a></td><td>Analytics server log.</td></tr>
<tr><td><a href='$base/control'>Control</a></td><td>Control the analytics server.</td></tr>
<tr><td><a href='$base/doc'>Documentation</a></td><td>Help.</td></tr>
</table>
</div>