#from DAS.web.utils import quote
#set base = $quote($base)
#if $msg
#set msg = $quote($msg)
#end if
<!-- das_searchform.tmpl -->
<form action="$base/" method="get">
<table>
<tr>
<td class="right">
data in
<select id="view" name="view">
<option value="list">list</option>
<option value="xml">xml</option>
<option value="json">json</option>
</select>
format,
</td>
<td class="left">
&nbsp;
<select id="limit" name="limit">
<option value="10">10</option>
<option value="25">25</option>
<option value="50">50</option>
<option value="100">100</option>
<!--
<option value="0">All</option>
-->
</select>
results/per page,
</td>
<td class="right">
&nbsp; records in
<select id="show" name="show">
<option value="json">browseable</option>
<option value="code">code</option>
<option value="yaml">plain</option>
</select>
format,
</td>
</tr>
</table>
<div>
<input type="text" size="80" name="input" id="input" />
<input type="submit" value="Search" />
<input type="hidden" name="ajax" value="1" />
<input type="reset" />
</div>
</form>
<div class="right">
<img src="$base/images/mongodb_logo.png" alt="Powered by MongoDB" width="5%" />
</div>
<!--
<p></p>
-->

<script type="application/javascript">
updateInput();
</script>
<!-- end of das_searchform.tmpl -->

<div id="_response" class="results"> <!-- we close this tag in das_bottom.tmpl -->

#if $msg
$msg
#end if

