
<!-- das_row.tmpl -->
<b>DAS record</b>: <a href="javascript:ShowTag('$id')">show</a>, 
<a href="javascript:HideTag('$id')">hide</a>
<div class="hide" id="$id">
<b>System:</b> $system,
<b>API:</b> $api,
<b>$daskey</b>: $data
</div>
<br />
<!-- end of das_row.tmpl -->

