#from DAS.web.utils import quote

#set msg = $quote($msg)
#assert (isinstance($msg, str) or isinstance($msg, unicode))

#if not $is_ajax
<link rel="stylesheet" href="/das/css/?f=jquery-ui.css&f=kwsearch.css" />
<script src="/das/js/?f=jquery.min.js" type="text/javascript"></script>
<script type="text/javascript">
    jQuery.noConflict();
</script>
<script src="/das/js/?f=jquery-ui.js" type="text/javascript"></script>

<b>DAS is unable  to unambigously interpret your query.
    Is any of the queries below that you meant?</b><br />
#end if

<div id="kws-results-listing"> <!-- main div -->

    $msg

</div> <!-- end of main div -->
<div style="color: #666">
    $initial_err_message
</div>



<script type="text/javascript">

    function hide(selector){
        //jQuery(selector).hide().;
    }
    function filterByResultType(rt, target){
        if (rt == 'see all') {
            jQuery('.kws-result').show(300);
        } else {
            jQuery('.kws-result').hide();
            jQuery('.result-with-entity-'+rt).show(300);
        }

        jQuery('.rt-filters a').removeClass('rtype-selected');
        jQuery(target).addClass('rtype-selected')
    }
    function showAllRT(){
    }

    function showAllResults(){
        jQuery('.kws-result').show(300);
        jQuery('#results-only-top-k').html('');
    }

    function hideLowResults(){
        // hide all results lower than 10
        var limit = 10;
        count = jQuery('.kws-result').length;

        if (count > limit) {
            jQuery('.kws-result:gt('+ (limit-1) +')').hide();
            var cont = jQuery('<div id="results-only-top-k">Showing only top ' + limit + ' suggestions.&nbsp;</div>');
            var showBtn = jQuery('<a href="javascript:;">see all</a>');
            showBtn.click(showAllResults);
            cont.append(showBtn);

            jQuery('div#kws-results-listing').append(cont);
        }
    }



    jQuery(function() {
        // do not hide debug tooltip (TODO: it should be on click actually)
        jQuery(".debug").each(function(){
            jQuery(this).tooltip({
                content: jQuery(this).attr('title'),
                track: true,
                //close: true,
                hide: { effect: "fade", duration: 2000 }
                //function( event, ui ) { jQuery(this).tooltip('open'); },
            });
        });
        jQuery(".kws-link").each(function(){
            jQuery(this).tooltip({
                content: jQuery(this).attr('title')
            });
        });

        hideLowResults();

    });
</script>


<!-- end of das_ambiguous_html.tmpl -->

