
<!-- das_services.tmpl -->
<div class="page">
<div class="normal">
#for service in $service_keys.keys()
<hr class="line" />
<h3>$service.upper() service</h3>
keys 
<a href="javascript:ShowTag('${service}keys')">show</a> |
<a href="javascript:HideTag('${service}keys')">hide</a>
<div id="${service}keys" class="hide">
<ul>
#for key in $service_keys[$service]
<li>$key</li>
#end for
</ul>
</div>
#end for
</div>
</div>
<!-- end of das_services.tmpl -->

