
<!-- das_row.tmpl -->
<b>record</b>: <a href="javascript:ShowTag('$id')">show</a>, 
<a href="javascript:HideTag('$id')">hide</a>
<div class="hide" id="$id">
$data
</div>
<br />
<!-- end of das_row.tmpl -->

