#from DAS.web.utils import quote
#set base=$quote($base)
<!-- das_top.tmpl -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head profile="http://www.w3.org/2005/11/profile">
    <title>CMS Data Aggregation Service</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Language" content="en-us" />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <meta http-equiv="imagetoolbar" content="no" />
    <meta name="author" content="Valentin Kuznetsov (vkuznet at gmail dot com)" />
    <meta name="MSSmartTagsPreventParsing" content="true" />
    <meta name="ROBOTS" content="ALL" />
    <meta name="Copyright" content="(CC) 2009, CMS collaboration." />
    <meta name="Rating" content="General" />

    <link rel="icon" type="image/png" href="$base/images/cms_logo.png" />
    <link rel="stylesheet" type="text/css" href="$base/css/das.css"/>

    <link rel="search" type="application/opensearchdescription+xml" href="$base/opensearch" title="CMS DAS" />

    <script type="text/javascript" src="$base/js/prototype.js"></script>
    <script type="text/javascript" src="$base/js/utils.js"></script>
    <script type="text/javascript" src="$base/js/ajax_utils.js"></script>

    <!-- YUI stuff -->
    <link rel="stylesheet" type="text/css" href="$base/yui/build/fonts/fonts-min.css" />
    <link rel="stylesheet" type="text/css" href="$base/yui/build/container/assets/skins/sam/container.css" />
    <link type="text/css" rel="stylesheet" href="$base/yui/build/autocomplete/assets/skins/sam/autocomplete.css"/>
    <link rel="stylesheet" type="text/css" href="$base/yui/build/paginator/assets/skins/sam/paginator.css"/>
    <link rel="stylesheet" type="text/css" href="$base/yui/build/datatable/assets/skins/sam/datatable.css"/>
    <script type="text/javascript" src="$base/yui/build/yahoo-dom-event/yahoo-dom-event.js"></script>
    <script type="text/javascript" src="$base/yui/build/container/container-min.js"></script>
    <script type="text/javascript" src="$base/yui/build/datasource/datasource-min.js"></script>
    <script type="text/javascript" src="$base/yui/build/connection/connection-min.js"></script>
    <script type="text/javascript" src="$base/yui/build/cookie/cookie-min.js"></script>
    <script type="text/javascript" src="$base/yui/build/json/json-min.js"></script>
    <script type="text/javascript" src="$base/yui/build/autocomplete/autocomplete-min.js"></script>
    <script type="text/javascript" src="$base/yui/build/element/element-min.js"></script>
    <script type="text/javascript" src="$base/yui/build/paginator/paginator-min.js"></script>
    <script type="text/javascript" src="$base/yui/build/datatable/datatable-min.js"></script>

</head>
<body class="yui-skin-sam">

<div id="banner">
<table>
<tr><td>
<img src="$base/images/cms_logo.jpg" alt="CMS" width="30" style="border:none" />
</td><td>
<h3>Data Aggregation System (DAS):
<a href="$base/">Home</a>
| <a id="das_top_srv" href="$base/services">Services</a>
| <a id="das_top_bug" href="https://svnweb.cern.ch/trac/CMSDMWM/newticket?component=DAS&amp;description=&amp;summary=DAS+Error&amp;owner=valya">Bug report</a>
| <a id="das_top_faq" href="$base/faq">FAQ</a>
| <a id="das_top_cli" href="$base/cli">CLI</a>
<!--
| <a id="das_top_expert" href="$base/expert">Expert</a>
| <a id="das_top_doc" href="$base/doc/index.html">Documentation</a>
-->
</h3>
</td></tr>
</table>
</div>
<hr class="line" />
<script type="text/javascript">
function wait() {
    plage_img('_response', '$base/images/loading.gif', 'please wait');
}
</script>
<!-- end of das_top.tmpl -->
