
<!-- das_admin.tmpl -->
<h3>MongoDB info</h3>
#for key, val in $mongo_info.items()
<b>$key</b>: $val
<br />
#end for
#for db in $ddict.keys()
<h3 class="gray_box">Database: $db</h3>
#for coll, info in $ddict[$db].items()
<h4>Collection: $coll</h4>
number of documents $info[0], collection
<a href="$base/admin/records?database=$db&amp;collection=$coll">records</a>,
collection info
<pre>
$info[1]
</pre>
#set index_dict=$info[2]
#if $index_dict.keys()
<table class="daskeys">
<tr><th>Index name</th><th>Index definition</th></tr>
#set counter=0
#for key, val in $index_dict.items()
#if $counter%2
#set name="odd"
#else
#set name=""
#end if
<tr class=$name>
<td>$key</td>
<td>$val</td>
</tr>
#set counter=$counter+1
#end for
</table>
#end if

#end for
#end for
<!-- end of das_admin.tmpl -->
