#from DAS.web.utils import quote

<!-- das_noresults.tmpl -->
<div>
DAS queried the following services [1]:
<ul>
#for key, val in $service_map.items()
#set system=$quote($key)
#set apis=', '.join([$quote(s) for s in val])
<li><b>$system:</b> $apis APIs
#end for
</ul>
but no results were found. Please note, the underlying data-service(s)
may experience a technical problem and empty results set can be temporary.
You may try later.
<hr class="line" />
1. DAS is <b>case-sensitive</b> due to restrictions in underlying
data services.
</div>
<!-- end of das_noresults.tmpl -->
