
<!-- das_help.tmpl -->
<div class="normal">
<h3>How to report a bug</h3>
This section discuss DAS architecture
<a href="javascript:showTag('architecture')">show</a> |
<a href="javascript:hideTag('architecture')">hide</a>
<div id="architecture" class="hide">
</div>
<hr class="line" />


<script type="text/javascript">
function showTag(tag) {
   var id = document.getElementById(tag);
   id.className="show";
}
function hideTag(tag) {
   var id = document.getElementById(tag);
   id.className="hide";
}
</script>
<!-- end of das_help.tmpl -->

