<!-- das_views.tmpl -->
<div id="results">
#if len($msg)
<div class="box_red">
<p>
$msg
</p>
</div>
#end if
Use form below to create a DAS view
<table class="normal">
<form action="/das/create_view" method="get">
<tr>
<td>
<b>name:</b>
</td>
<td>
<input type="text" size="20" name="name" id="name" />
</td>
</tr>
<tr>
<td>
<b>definition:</b>
</td>
<td>
<input type="text" size="80" name="query" id="query" />
<input type="submit" value="Create" />
<input type="reset" />
</td>
</tr>
</form>
</table>

<br/>

Existing list of DAS-views which can be used in DAS QL.
#for k, v in $views.items()
<hr class="line" />
<b>name:</b> $k
<br/>
<b>definition:</b> $v
<br/>
#end for
</div>
<!-- end of das_views.tmpl -->

