#from DAS.web.utils import quote
#set rec_id = $quote($rec_id)
#set id = $quote($id)
<!-- das_row.tmpl -->
<b>Record</b>: $rec_id, <a href="javascript:ShowTag('id_$id')">show</a>, 
<a href="javascript:HideTag('id_$id')">hide</a>
<div class="hide" id="id_$id">
$sanitized_data
</div>
<br />
<!-- end of das_row.tmpl -->

