<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
<title>JSON Data Over XHR</title>

<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.6.0/build/fonts/fonts-min.css" />
<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.6.0/build/datatable/assets/skins/sam/datatable.css" />
<script type="text/javascript" src="http://yui.yahooapis.com/2.6.0/build/yahoo-dom-event/yahoo-dom-event.js"></script>
<script type="text/javascript" src="http://yui.yahooapis.com/2.6.0/build/connection/connection-min.js"></script>

<script type="text/javascript" src="http://yui.yahooapis.com/2.6.0/build/json/json-min.js"></script>
<script type="text/javascript" src="http://yui.yahooapis.com/2.6.0/build/element/element-beta-min.js"></script>
<script type="text/javascript" src="http://yui.yahooapis.com/2.6.0/build/datasource/datasource-min.js"></script>
<script type="text/javascript" src="http://yui.yahooapis.com/2.6.0/build/datatable/datatable-min.js"></script>

<!--there is no custom header content for this example-->

</head>

<body class=" yui-skin-sam">


<h1>JSON Data Over XHR</h1>

<div class="exampleIntro">
        <p>This example populates a DataTable with data received via XHR from the Yahoo!
Local webservice.</p>
                        
</div>

<!--BEGIN SOURCE CODE FOR EXAMPLE =============================== -->

<div id="json"></div>


<script type="text/javascript">
YAHOO.util.Event.addListener(window, "load", function() {
    YAHOO.example.XHR_JSON = function() {
        var myColumnDefs = [
            {key:"PATH", sortable:true},
            {key:"STORAGEELEMENT_SENAME", sortable:true}
        ];

        var myDataSource = new YAHOO.util.DataSource("/asearch?");
        myDataSource.responseType = YAHOO.util.DataSource.TYPE_JSON;
        myDataSource.connXhrMode = "queueRequests";
        /*
         * JSON data provided in a format 
         * {'dbsoutput':{'result':[{row one}, {row two}]}}
         */
        myDataSource.responseSchema = {
            resultsList: "dbsoutput.result",
            fields: ["PATH","STORAGEELEMENT_SENAME"]
        };

        var myDataTable = new YAHOO.widget.DataTable("json", myColumnDefs,
                myDataSource, {initialRequest:"dbs=caf_analysis_01_r&view=json&fromrow=0&limit=10&input=find+dataset%2C+site+where+dataset+like+*CRUZET4*"});

        var mySuccessHandler = function() {
            this.set("sortedBy", null);
            this.onDataReturnAppendRows.apply(this,arguments);
        };
        var myFailureHandler = function() {
            this.showTableMessage(YAHOO.widget.DataTable.MSG_ERROR, YAHOO.widget.DataTable.CLASS_ERROR);
            this.onDataReturnAppendRows.apply(this,arguments);
        };
        var callbackObj = {
            success : mySuccessHandler,
            failure : myFailureHandler,
            scope : myDataTable
        };
        
        myDataSource.sendRequest("dbs=caf_analysis_01_r&view=json&fromrow=20&limit=10&input=find+dataset%2C+site+where+dataset+like+*CRUZET4*",
                callbackObj);

        myDataSource.sendRequest("dbs=caf_analysis_01_r&view=json&fromrow=20&limit=10&input=find+dataset%2C+site+where+dataset+like+*CRUZET4*",
                callbackObj);
                
        return {
            oDS: myDataSource,
            oDT: myDataTable
        };
    }();
});
</script>

<!--END SOURCE CODE FOR EXAMPLE =============================== -->


<!--MyBlogLog instrumentation-->
<script type="text/javascript" src="http://track2.mybloglog.com/js/jsserv.php?mblID=2007020704011645"></script>

</body>
</html>

