
<!-- das_bottom.tmpl -->
<hr class="line" />
<div id="results">
#*
<div align="right" class="normal">
#if $ctime
#set ftime = "%5.3f"%$ctime
DAS execution time: $ftime sec, 
#end if
$timestamp
</div>
*#
<table width="100%" class="small">
<tr>
<td align="left">
Search across: $services
</td>
<td align="right">
#if $ctime
#set ftime = "%5.3f"%$ctime
Execution time: $ftime sec, 
#end if
$timestamp
</td>
</table>
</div>
<!-- end of das_bottom.tmpl -->
