#from DAS.web.utils import quote
#set msg = $quote($msg)

<!-- das_redirect.tmpl -->
<p>
You do not have permission to access the resource requested.
</p>
<pre>
$msg
</pre>
<!-- end of das_redirect.tmpl -->

