#from DAS.web.utils import quote
<!-- das_colors.tmpl -->
<span class="label">
DAS color map:
</span>
<a href="javascript:ShowTag('colors')">show</a>
<a href="javascript:HideTag('colors')">hide</a>
<div id="colors" class="hide">
#for key, val in $colors.items()
#set system=$quote($key)
#set colour=$quote($val)
<span style="background-color:$colour;padding-left:7px; padding-right:7px">&nbsp;</span>&nbsp;$system,&nbsp;
#end for
</div>
<!-- end of das_colors.tmpl -->
