
<!-- das_searchform.tmpl -->
<style type="text/css">
#wrap {
        max-width:50em;
        margin:2em auto;
}
form {
        padding:1em;
        border:1px solid #ccc;
        background:#f8f8f8;
}
label {display:block;}
</style>

<div align="center">
<form action="/das/" method="get">
<table class="normal">
<tr>
<td>
data in
<select name="view">
<option value="table">table</option>
<option value="list">list</option>
<option value="plain">plain</option>
<option value="xml">xml</option>
<option value="json">json</option>
</select>
format,
</td>
<td>
<select name="limit">
<option value="10">10</option>
<option value="25">25</option>
<option value="50">50</option>
<option value="100">100</option>
<option value="0">All</option>
</select>
results/per page
</td>
</tr>
</table>
<input type="text" size="80" name="input" id="input" />
<input type="submit" value="Search" />
<input type="hidden" name="ajax" value="1" />
<input type="reset" />

</form>

#if $msg
$msg
#end if

#if $input
<script text="type/javascript">
function updateInput(val) {
   var id = document.getElementById('input');
   id.value=val;
}
updateInput('$input');
</script>
#end if
<!-- end of das_searchform.tmpl -->

<div id="_response"> <!-- we close this tag in das_bottom.tmpl -->

