
<!-- das_help.tmpl -->
<hr class="line" />
<div class="normal">
DAS stands for Data Aggregation System. It enables keyword based searches
across a range of CMS data services. 

<table class="daskeys">
<tr>
<th>CMS Services</th>
<th>Keywords</th>
<th>Operators</th>
<th>Filters</th>
<th>Aggregators</th>
</tr>

<tr>
<td>
<em>$services</em>
</td>
<td>
<em>$keywords</em>
</td>
<td>
<em>$operators</em>
</td>
<td>
<em>$filters</em>
</td>
<td>
<em>$aggregators</em>
</td>
</tr>
</table>

</div>
<!-- end of das_help.tmpl -->

