
<!-- das_faq.tmpl -->
<div class="page">
<div class="normal">
<h3>General questions about DAS</h3>
<a href="javascript:ShowTag('architecture')">show</a> |
<a href="javascript:HideTag('architecture')">hide</a> this section.
<div id="architecture" class="hide">

<div class="navcontainer">
<ul>
<li>
What DAS stands for?
</li>
</ul>
<p>
The Data Aggregation Service (DAS) is CMS project which provides access
to CMS data-services, such as DBS, Phedex, SiteDB, etc., using free text-based
keyword search syntax. It supersedes the 
<a href="http://cmsweb.cern.ch/dbs_discovery">
Data Discovery</a> service.
It represents data from all data-services in common 
JSON/XML-format, provides 
<a href="/das/cli">
Command Line Interface (CLI)
</a>
along with reach web-based interface.
</p>

<ul>
<li>
How DAS knows data relationship between CMS data-services?
</li>
</ul>
<p>
The various CMS data-services collect information about particular domain of CMS
data operations, e.g. Phedex holds information about data location. If we
consider all data-services togther they represent a complete set of meta-data in our
experiment. So, it's very common, that boundaries of one data-service are
overlap with another. A typical example is DBS and Run Summary DB.
In DBS we store processing information about our data, such as
dataset, blocks, files, runs. In Run Summary DB we store run specific
information. Obviously, a run, is a common entity between two data-services.
In DAS, such comonalities are taken into account and one or more entities are
used to relate one service with another.
</p>

<ul>
<li>
How DAS aggregates data between different data-services?
</li>
</ul>
<p>
Upon provided query, DAS invokes appropriate data-service APIs,
changing their output to DAS notations and merge data on common keys. For example,
when user ask about a block, DBS and PhEDEx APIs are invoked. Both return block
information, where block name is a common key between two outputs. Using this
knowledge DAS merges their output into a single DAS record.
</p>

</div>
</div>
<hr class="line" />

<h3>DAS queries</h3>
<a href="javascript:ShowTag('dasql')">show</a> |
<a href="javascript:HideTag('dasql')">hide</a> this section
<div id="dasql" class="hide">
<div class="navcontainer">
<ul>
<li>
What should I type in DAS web interface?
</li>
</ul>
<p>
DAS uses free text-based keyword search queries, so use your common knowledge about
CMS data, e.g. dataset, block, run. If you're not sure which DAS keys to use,
please use <a href="/das/services">Services</a> URL.

Just type one of those in input field and
you'll invoke DAS query. For complete list of DAS keys use 
<a href="/services/">services</a> section of DAS web portal.
<br />
But, <b>it is wise</b> to use conditions to make your query and DAS run faster. 
</p>

<ul>
<li>
Can I use conditions?
</li>
</ul>
<p>
Yes you can, use your DAS key to form a condition, e.g.
<div class="example">
site=T1_CH_CERN
</div>
</p>

<ul>
<li>
Can I combine conditions and/or specify multiple DAS keys?
</li>
</ul>
<p>
Just type them, e.g.
<div class="example">
site=T1_CH_CERN block=/a/b/c
</div>
or
<div class="example">
site=T1_CH_CERN, block=/a/b/c
</div>
are equivalent.
</p>

<ul>
<li>
Why my data sometimes appears instantaneously?
</li>
</ul>
<p>
DAS doesn't hold any data, instead it retrieves data from data-services and
place them into the cache. Therefore, when you place your query 
DAS sends request to appropriate data-services. DAS web interface was
designed to provide you as much feedback as possible, please pay attention
to messages appearing next to the spining wheel.
</p>

</div>
</div>
<hr class="line" />

<h3>DAS records</h3>
<a href="javascript:ShowTag('dasrecords')">show</a> |
<a href="javascript:HideTag('dasrecords')">hide</a> this section
<div id="dasrecords" class="hide">
<div class="navcontainer">

<ul>
<li>
What is a DAS record?
</li>
</ul>
<p>
A DAS record represents aggregated information about particular entity, e.g. site,
combined from the results of different CMS data-services. For instance, the block
information is stored in both DBS and PhEDEx data-service. In DAS this information
is aggregated and stored as a single record. For example, here is typical DAS record:
<div class="example">
<pre>
{
 "das_id":  [4b2f8fc5e2194ee15500001f, 4b2f8fc2e2194ee155000009],
 "_id": 4b2f8fc5e2194ee155000020,
 "site": [
   {
    "name": "T1_CH_CERN",
    "ce": "ce126.cern.ch"
   },
   {
    "admin": {
       "title": "Site Admin",
       "surname": "Kreuzer",
       "email": "Peter.Kreuzer@cern.ch",
       "forename": "Peter"
      },
    "name": "T1_CH_CERN"
   }]
}
</pre>
</div>
</p>

<ul>
<li>
What <b>das_id</b> and <b>id</b> keys represent in DAS record?
</li>
</ul>
<p>
The <b>id</b> represents unique identifier of DAS record, while
<b>das_id</b> refers to the DAS records which contain information about
URL, api and their parameters used to fetch this data.
</p>

<ul>
<li>
Do you support other data-formats?
</li>
</ul>
<p>
In DAS we support XML, JSON and HTML presentations of CMS meta-data.
To use another data-format just use appropriate option from drop-down menu
in your search field.
</p>

<ul>
<li>
Why DAS XML/JSON records contain additional header?
</li>
</ul>
<p>
All DAS records are represented accorging to DAS data-specification, see this 
<a href="https://twiki.cern.ch/twiki/bin/viewauth/CMS/DMWMDataAggregationService">link</a> 
to read more about it. For simplicity and readability of DAS records in HTML view
we simply drop this header from shown records.
</p>

</div>
</div>
<!-- LAST RECORD DOES NOT NEED THIS
<hr class="line" />
-->

</div> <!-- end of class="normal" -->
</div> <!-- end of class="page" -->

<!-- end of das_faq.tmpl -->

