<!-- das_top.tmpl -->
<link rel="stylesheet" type="text/css" href="/controllers/css/das"/>
<div id="banner">
<h3>Data Aggregation Service: 
<a href="/dassearch">home</a> |
<a href="/dassearch/services">services</a> |
<a href="/dassearch/faq">FAQ</a>
##<a href="/dassearch/help">help</a>
</h3>
</div>
<hr class="line" />
<!-- end of das_top.tmpl -->
