
<!-- das_searchform.tmpl -->
<form action="/das/" method="get">
<table>
<tr>
<td class="right">
data in
<select id="view" name="view">
<option value="list">list</option>
<option value="xml">xml</option>
<option value="json">json</option>
</select>
format,
</td>
<td class="left">
<select id="limit" name="limit">
<option value="10">10</option>
<option value="25">25</option>
<option value="50">50</option>
<option value="100">100</option>
<option value="0">All</option>
</select>
results/per page,
</td>
</tr>
</table>
<div>
<input type="text" size="80" name="input" id="input" />
<input type="submit" value="Search" />
<input type="hidden" name="ajax" value="1" />
<input type="reset" />
</div>
</form>
<div align="right">
<img src="/dascontrollers/images/mongodb_logo.png" alt="Powered by MongoDB" width="5%" />
</div>
<!--
<p></p>
-->

<script type="application/javascript">
//<![CDATA[
function updateInput_orig(val) {
   var id = document.getElementById('input');
   id.value=val;
}
function updateInput() {
   var uinput = gup('input');
   if  (uinput) updateTag('input', uinput);
   else updateTag('input', '');

   var ulimit = gup('limit');
   if  (ulimit) updateTag('limit', ulimit);
   else updateTag('limit', '');

   var uview = gup('view');
   if  (uview) updateTag('view', uview);
   else updateTag('view', '');
}
updateInput();
//]]>
</script>
<!-- end of das_searchform.tmpl -->

<div id="_response" class="results"> <!-- we close this tag in das_bottom.tmpl -->

#if $msg
$msg
#end if

