#from DAS.web.utils import quote
#set daskeys = $quote($daskeys)
#set id = $quote($id)

<!-- das_record.tmpl -->
<hr class="line" />
<a href="/das/records/$id">$id</a>, keys: <em>$daskeys</em>.
<!-- end of das_record.tmpl -->

