
<!-- das_ambiguous.tmpl -->
<div>
Provided input
<pre class="example">
$input
</pre>
is ambiguous. DAS knows about the following entities:
<em class="box_blue">
$entities.
</em>
Please use one of them with your input as 
<em class="box_blue">key=value</em> pair, e.g.
<em class="box_blue">site=T1_CH_CERN</em>.
</div>
<br />
<!-- end of das_ambiguous.tmpl -->

