#from DAS.web.utils import quote
#import cgi
#assert isinstance($limit, int)
#assert isinstance($idx, int)
#assert isinstance($nrows, int)
#assert isinstance($url, str)
#set url=cgi.escape($url)
<!-- url here is quoted in a code -->
<!-- das_pagination.tmpl -->
#import types
<div id="results">

<div class="left">
<table width="100%" class="normal">
<tr>
<td align="left">
Showing
#if not $limit
all records
</td>
</tr>
#else
#set total = $idx+$limit
#if $total>$nrows
#set total=$nrows
#end if
#set startidx=$idx+1
#set from_res=$idx*$limit+1
#set to_res=$idx*$limit + $limit
#if $to_res > $nrows
#set to_res=$nrows
#end if
$from_res&#8212;$to_res records out of $nrows.
</td>
<td align="right">
<div id="paginator">
##### first
#set newUrl = $url + "&amp;idx=0&amp;limit=" + $str($limit)
&lt;<a href="$newUrl">first</a> |
##### prev
#if  $idx
#set newUrl = $url + "&amp;idx=" + $str($idx-1) + "&amp;limit=" + $str($limit)
#else
#set newUrl = $url + "&amp;idx=" + $str($idx) + "&amp;limit=" + $str($limit)
#end if
<a href="$newUrl">prev</a> |
##### next
#if  ($idx+1)*$limit < $nrows - 1
#set newUrl = $url + "&amp;idx=" + $str($idx+1) + "&amp;limit=" + $str($limit)
#else
#set newUrl = $url + "&amp;idx=" + $str($nrows/$limit) + "&amp;limit=" + $str($limit)
#end if
<a href="$newUrl">next</a> |
##### last
#set newUrl = $url + "&amp;idx=" + $str($nrows/$limit) + "&amp;limit=" + $str($limit)
<a href="$newUrl">last</a>&gt;
</div>
</td>
</tr>
#end if
</table>

</div> <!-- end of align="left" -->

</div> <!-- end of id="div_results" -->
<!-- end of das_pagination.tmpl -->
