#from DAS.web.utils import quote
#import time
<!-- das_noapis.tmpl -->
<div>
None of the registered data-provider's APIs in DAS match this query.
If you believe that this query should be answered
by DAS feel free to submit a new
#set tstamp=time.strftime("%d %b %Y %H:%M:%S GMT", time.gmtime())
#set msg="No APIs, %s (%s)" % ($query, $tstamp)
#set msg=$quote(msg)
#set status=$quote(status)
#set reason=$quote(reason)
<a class="box_attention"
   href="https://github.com/dmwm/DAS/issues/new?title=$msg">ticket</a>
<pre>
DAS status: $status, $reason
</pre>
</div>
<hr class="line" />
<!-- end of das_noapis.tmpl -->
