#from DAS.web.utils import quote
#set base = $quote($base)
#set msg = $quote($msg)
#assert isinstance($base, str)
#assert (isinstance($msg, str) or isinstance($msg, unicode))
<!-- das_ambiguous.tmpl -->
<div> <!-- main div -->

    <link rel="stylesheet" href="/das/css/?f=jquery-ui.css" />
    <style type="text/css">
        .select-result-type { margin: 20px 0; font-weight: normal; }
        .rtype-selected {
            font-weight: bold;
            color: #000;
        }

        .kws-result a { line-height: 2em; color: #666; }
        .kws-result a, .kws-result a:visited, .kws-result a:active {  text-decoration: none; }
        .kws-result a:hover {  text-decoration: underline; }
        div.score-bar {
            border:  1px solid #aaaaaa;
            height: 10px;
            display: inline-block;
            position: relative;
            /* float: left; */
            background-color: #dddddd;
            margin-right: 10px;
        }

            /* this is the colorful bar */
        div.score-bar-inner {
            height: 10px;
            display: block;
            position: relative;
            z-index: 0;
            background-color: #88ff88;
        }
            /* text (score) inside the bar */
        div.score-bar-inner-avg {
            background-color: #FFFF66;
        }
        div.score-bar-inner-low {
            background-color: #ff6666;
        }

        div.score-bar span {
            position: absolute;
            font-size: 10px;
            z-index: 1;
            margin-left: 5px;
            display: inline-block;
            position: absolute;
            top: 0;
            width: 50px;
        }
        .ui-tooltip {
            max-width: 700px;
            font-size: 8pt;
        }
        .nl-result-field {
            color: #999;
        }


        .kws-result .debug {
            color: #FF9999;
            font-size: 10px;
            margin-left: 20px;
        }

    </style>



    <script src="/das/js/?f=jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        jQuery.noConflict();
    </script>
    <script src="/das/js/?f=jquery-ui.js" type="text/javascript"></script>

    <script type="text/javascript">

        function hide(selector){
            //jQuery(selector).hide().;
        }
        function filterByResultType(rt, target){
            if (rt == 'see all') {
                jQuery('.kws-result').show(300);
            } else {
                jQuery('.kws-result').hide();
                jQuery('.result-with-entity-'+rt).show(300);
            }

            jQuery('.rt-filters a').removeClass('rtype-selected');
            jQuery(target).addClass('rtype-selected')
        }
        function showAllRT(){
        }

        jQuery(function() {
            // do not hide debug tooltip (TODO: it should be on click actually)
            jQuery(".debug").each(function(){
                jQuery(this).tooltip({
                    content: jQuery(this).attr('title'),
                    track: true,
                    //close: true,
                    hide: { effect: "fade", duration: 2000 }
                    //function( event, ui ) { jQuery(this).tooltip('open'); },
                });
            });
            jQuery(".kws-link").each(function(){
                jQuery(this).tooltip({
                    content: jQuery(this).attr('title'),
                });
            });
        });
    </script>


    <b>DAS is unable  to unambigously interpret your query.
        Is any of the queries below that you meant?</b><br />

    $msg

</div> <!-- end of main div -->
<!-- end of das_ambiguous_html.tmpl -->

