#from DAS.web.utils import quote
#set query=$quote($query)

<!-- das_noresults.tmpl -->
<div>
DAS unable to find any results for this query.
<br/>
<br/>
If you believe that this query should provide adequate answer
feel free to submit a new DAS
<a class="box_attention"
   href="https://github.com/dmwm/DAS/issues/new?title=no+results+$query">ticket</a>.
</div>
<hr class="line" />
<!-- end of das_noresults.tmpl -->
