#from DAS.web.utils import quote
#set query=$quote($query)

<!-- das_noapis.tmpl -->
<div>
None of the registered data-provider's APIs in DAS match this query.
If you believe that this query should be answered
by DAS feel free to submit a new
<a href="https://github.com/dmwm/DAS/issues/new">ticket</a>.
</div>
<hr class="line" />
<!-- end of das_noapis.tmpl -->
