
#if $div
</div> <!-- end of _response tag -->
#end if
<!-- das_bottom.tmpl -->
<hr class="line" />
<div class="results">
<table width="100%" class="small">
<tr>
<td align="left">
DAS version: $version
</td>
<td align="right">
#if $ctime
#set ftime = "%5.3f"%$ctime
Execution time: $ftime sec, 
#end if
$timestamp
</td>
</tr>
</table>
</div> <!-- end of id="results" -->
<!-- end of das_bottom.tmpl -->
</body>
</html>
