
<!-- das_services.tmpl -->
<div class="page">
<b>DAS mapping</b><br />
DAS provides a mapping between query keys, e.g. block, site and 
their representation inside of DAS records. Use this table to identify
what particular DAS key means in concrete CMS sub-system.
<div class="normal">
#*
#for service in $service_keys.keys()
<hr class="line" />
<h3>$service.upper() service</h3>
keys 
<a href="javascript:ShowTag('${service}keys')">show</a> |
<a href="javascript:HideTag('${service}keys')">hide</a>
<div id="${service}keys" class="hide">
<ul>
#for key in $service_keys[$service]
<li>$key</li>
#end for
</ul>
</div>
#end for
*#
<table class="daskeys">
<tr>
<th>DAS keys\services</th>
#set systems=$dasdict.keys()
#for system in $systems
<th>$system</th> 
#end for
</tr>
#set counter=0
#for daskey in $daskeys
#if $counter%2
#set style="odd"
#else
#set style=""
#end if
#set $counter+=1
<tr class="$style">
<td>$daskey</td>
#for system in $systems
#set sysdict=$dasdict[$system]['keys']
#if $sysdict.has_key($daskey)
<td>
#set uikeys=$dasdict[$system]['keys'][$daskey]
#for uikey in $uikeys
#if  uikey!=$uikeys[-1]
$uikey,
#else
$uikey
#end if
#end for
</td>
#else
<td>&#8212;</td>
#end if
#end for
</tr>
#end for
</table>

</div>

<p></p>

<b>Data-services APIs</b>
<div class="normal">
<table class="daskeys">
<tr style="text-align:left">
#for system in $systems
<th>$system</th> 
#end for
</tr>

<tr style="vertical-align:text-top">
#for system in $systems
#set apilist=$dasdict[$system]['apis']
#silent $apilist.sort()
<td>
#for api in $apilist[:-1]
<a href="/das/api?name=$api">$api</a>, <br /> 
#end for
<a href="/das/api?name=$apilist[-1]">$apilist[-1]</a>
</td>
#end for
</tr>
</table>
</div>

<p></p>

<!--
<b>Map/reduce functions</b><br />
The following set of functions has been defined in DAS as map/reduce operation over
DAS records. You can use them via pipes to your queries, e.g. 
<pre>
block=/a/b* | sum(block.replica.size)
</pre>
<div class="normal">
<ul>
#for row in $mapreduce
#set id=$row['_id']
<li>
$row['name'],
<a href="javascript:ShowTag('$id')">show</a> |
<a href="javascript:HideTag('$id')">hide</a>
<div class="hide" id="$id">
<pre>
Map function:
$row['map']

Reduce function:
$row['reduce']
</div>
</li>
#end for
</ul>
</div>
-->

</div>
<!-- end of das_services.tmpl -->

