#from DAS.web.utils import quote
#assert isinstance($msg, str)
#set msg = $quote($msg)

<!-- das_error.tmpl -->
An error has occurred while processing your request:
<pre>
$msg
</pre>
Please submit a bug report 
#set details=$quote($msg)
#set msg=details.replace('/', '%2F')
<a href="https://svnweb.cern.ch/trac/CMSDMWM/newticket?component=DAS&description=$msg&summary=Web+Error&owner=valya">here</a>.
<!-- end of das_error.tmpl -->

