
<!-- das_help.tmpl -->
<div class="normal">
<h3>How to report a bug</h3>
This section discuss DAS architecture
<a href="javascript:ShowTag('architecture')">show</a> |
<a href="javascript:HideTag('architecture')">hide</a>
<div id="architecture" class="hide">
</div>
<hr class="line" />
<!-- end of das_help.tmpl -->

