#from json import dumps as jsonize
#from DAS.utils.url_utils import url_extend_params_as_dict

#assert isinstance($kws_host, basestring)
#set $js_kws_host = $jsonize($kws_host)

<div id="cms-hints-container">
    <br />
    <b>Loading some hints...</b>
    <br /><br />
</div>

## this will pass all the default params including user's input
#set hints_params_json = jsonize(url_extend_params_as_dict())

<script type="text/javascript">
var KWS_HOST = $js_kws_host; //e.g. "https://localhost"
new Ajax.Request(KWS_HOST + "/das/hints", {
    method: "get",
    parameters: $hints_params_json,
  onSuccess: function(transport) {
      \$("cms-hints-container").update(transport.responseText);
    initialize_kws_results.defer();
  },
  onFailure: function(err) {
      \$("cms-hints-container").update("");
  }
});
</script>
