#set tag_list = $tag.split('.')
#if len($tag_list) == 3
#set tag1 = $tag_list[0]
#set tag2 = $tag_list[1]
#set tag3 = $tag_list[2]
function() {
    /*
     * emit(a, 1) is suitable for counting
     * emit(null, a) is suitable for summing
     * Here we emit for different cases, tag=tag1.tag2.tag3
     * a typical example tag=block.replica.size
     * 1. when there is only {tag1:{tag2:{tag3:1}}}
     * 2. when there are records as {tag1:[{tag2:{tag3:1}}]}
     * 3. when all fields are list items, e.g.
     * {tag1:[{tag2:[{tag3:1}]}]}
     */
    if (this.${tag1}) {
        if (this.${tag1}.${tag2}) {
            if (this.${tag1}.${tag2}.${tag3}) 
                emit(null, this.${tag1}.${tag2}.${tag3});
        }
        for (var i = 0; i < this.${tag1}.length; i++) {
            var info = this.${tag1}[i];
            if  (info.${tag2}) {
                if (info.${tag2}.${tag3})
                    emit(null, info.${tag2}.${tag3});
                for (var j=0; j < info.${tag2}.length; j++) {
                    var item = info.${tag2}[j];
                    if  (item.${tag3}) {
                        emit(null, item.${tag3});
                    }
                }
            }
        }
    }
}
#else if len($tag_list) == 2
#set tag1 = $tag_list[0]
#set tag2 = $tag_list[1]
function() {
    /*
     * emit(a, 1) is suitable for counting
     * emit(null, a) is suitable for summing
     * Here we emit for different cases, tag=tag1.tag2
     * a typical example tag=block.files
     * 1. when there is only {tag1:{tag2:1}}
     * 2. when there are records as {tag1:[{tag2:1}]}
     */
    if (this.${tag1}) {
        if (this.${tag1}.${tag2}) {
            emit(null, this.${tag1}.${tag2});
        }
        for (var i = 0; i < this.${tag1}.length; i++) {
            var info = this.${tag1}[i];
            if  (info.${tag2}) {
                emit(null, info.${tag2});
            }
        }
    }
}
#else
function() {
    /*
     * emit(a, 1) is suitable for counting
     * emit(null, a) is suitable for summing
     */
    if (this.${tag}) {
        emit(null, this.${tag});
    }
}
#end if
