#from DAS.web.utils import quote
#set path = $quote($path)
#set inst = $quote($inst)
#set URL  = "https://cmsweb.cern.ch/phedex/prod/Request::Create"
<!-- phedex_subscription.tmpl -->
<a href="$URL?type=xfer&amp;dbschoice=known&amp;dbs=$inst&amp;data=$path&amp;priority=1">Subscribe to PhEDEx</a>
<!-- phedex_subscription.tmpl -->
