body {
    margin:0;
    margin-left:20px;
    margin-right:20px;
    padding:0;
    color:#000;
    background:#fff;
    font-size: 14px;
    font: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",helvetica,arial,sans-serif;
}
h3 { 
    font-size: 16px;
    font-weight:bold;
    font-family: helvetica, arial, verdana, sans-serif;
    text-decoration: none;
}
.center_70 {
/*    text-align: center;*/
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}
.page {
    margin: 0;
    padding: .5em 0 .5em .5em;
}
.normal  {
    margin: 0;
    padding: 0;
    border-spacing: 0px;
    font-size: 14px;
    font-family: helvetica, arial, verdana, sans-serif;
    text-decoration: none;
    width: 100%;
}
.small  {
    margin: 0;
    padding: 0;
    border-spacing: 0px;
    font-size: 13px;
    font-family: helvetica, arial, verdana, sans-serif;
    text-decoration: none;
}
.tiny  {
    font-size: 12px;
    font-weight: normal;
    font-family: helvetica, arial, verdana, sans-serif;
    text-decoration: none;
    text-transform: none;
}
.inputtext {
    font-size: 14px;
    font-weight: normal;
    font-family: helvetica, arial, verdana, sans-serif;
    text-decoration: none;
    text-transform: none;
    color: #B3B3B3;
}
.example {
    margin: 10px;
    padding: 5px;
    font-size: 14px;
    font-weight: normal;
    font-family: helvetica, arial, verdana, sans-serif;
    text-decoration: none;
    text-transform: none;
    color: #000000;
    background-color: #e4e4e4;
/*    background-color: #ebe7fa;*/
    border: 1px dashed #B3B3B3;
    width: 80%;
}
.code {
    margin: 10px;
    padding: 5px;
    font-size: 12px;
    font-weight: normal;
    font-family: helvetica, arial, verdana, sans-serif;
    text-decoration: none;
    text-transform: none;
    color: #000000;
    background-color: rgb(247, 247, 247);
    border: 1px solid rgb(215, 215, 215);
    width: 98%;
}
hr.line {
    width: 100%;
    border: none;
    border-top: 1px dotted #CCCCCC;
}
a:link {color:#8f1f08;}
a:visited {color:#5f1406;}
a:hover,
a:focus,
a:active {
    color:#800000;
    background-color:#e3e0d1;
}
/*
 * various div settings
 */
.results
{
    margin: 0;
/*    padding-left: 1em;*/
/*    padding-right: 1em;*/
} 
.right {
    text-align: right;
}
.left {
    text-align: left;
}
.center {
    text-align: center;
}
div#banner
{
    color: #263750;
    background-color: rgb(223, 219, 195);
    border-bottom: 1px solid #263750;
    margin-left:-20px;
    margin-right:-20px;
    padding-left: 20px;
    padding-right: 20px;
} 
div#banner h3
{
    font-size: 14px;
    font-weight: bold;
    font-family: sans-serif;
}
/*
 * Colorized output
 */
.gray {
    background-color: #F7F7F7;
    padding-left: 10px;
    padding-right: 10px;
}
.blue {
    background-color: #EFF1FF;
    padding-left: 10px;
    padding-right: 10px;
}
.white {
    background-color: #FFF;
    padding-left: 10px;
    padding-right: 10px;
}
.box {
    color: #0000FF;
}
.box_red {
    color: #FF0000;
}
.box_blue {
    color: #0000FF;
}
.box_green {
    color: #00FF00;
}
.box_lavender {
    color: #CCCCFF;
}
.box_darkgreen {
    color: #666699;
    background: #666699;
    background-color: #666699;
}
.box_white {
    padding: 10px 1px;
    color: #0000FF;
    background: #ffffff;
}
/*
.box_gray {
    color: #000000;
    background-color: #F0F0F0;
}
*/
.box_light {
    color: #000000;
    background-color: #FFFADC;
}
.box_gray {
    color: white;
    background-color: gray;
}
.box_tab {
    padding: 5px 3px;
    color: #0000FF;
    background: #CDBECD;
}
.gray_box {
  color: #000000;
  background-color: #E0E0E0;
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  padding: 1px 1px 1px 1px;
  border-style: solid solid solid solid;
  border-color: gray gray gray gray; 
  cursor: pointer;
}

/*
 * Visibility settings
 */ 
.hide {
    display: none;
}
.show {
    display: block;
    margin-top:6px; 
    border-top-width:1px; 
}
.show_inline {
    display: inline;
    color: black;
    background-color: white;
}
#wrap {
        max-width:50em;
        margin:2em auto;
}
form {
        padding:1em;
        border:1px solid #ccc;
        background:#f8f8f8;
}
label {display:block;}
.navcontainer ul
{
    margin: 0;
    padding: 0;
}

.navcontainer li
{
    margin-top: 10px;
    display: block;
    color: #222222;
    /*background-color: #CCC;*/
    padding: 3px 3px 3px 7px;
    text-decoration: none;
    border-left: 5px solid #B3B3B3;
    border-bottom: 1px dotted #B3B3B3;
    font-weight: normal;
    width:80%;
}

/* Rules for representing JSON objects */
code, tt, pre { font-family: "DejaVu Sans Mono",Monaco,monospace; }
code.key { color: #333; font-weight: bold; }
code.string { color: #393; }
code.number, code.boolean { color: #339; }
code.null { color: #666; }
/*table.listing { border-collapse: separate; border-spacing: 0; border: 0; clear: both; width: 100%}*/
table.listing { border-spacing: 0; border: 0; clear: both; width: 100%}
table.listing caption { display: none; }
table.listing th, table.listing td { padding: .2em .5em; }
/*table.listing tbody tr th, table.listing tbody tr td { background: #feffea; }*/
table.listing tbody tr.odd th, table.listing tbody tr.odd td,
table.listing tbody.odd tr th, table.listing tbody.odd tr td {
  background: #fff;
}

/* DAS keys table */
table.daskeys { 
        border-spacing: 1px; 
        border-width: 1px; 
        border-style: solid solid solid solid;
        border-color: gray gray gray gray;
        background: #FFFFFF;
        clear: both; 
        width: 100%}
table.daskeys th, table.daskeys td { padding: .2em .5em; }
table.daskeys tbody tr th { background: #F0F0F0; text-align: center; }
table.daskeys tbody tr td { background: #FFFFFF; }
table.daskeys tbody tr.odd th, table.daskeys tbody tr.odd td,
table.daskeys tbody.odd tr th, table.daskeys tbody.odd tr td {
  background: #EEF2FF;
}
table.daskeys tbody tr.even th, table.daskeys tbody tr.even td,
table.daskeys tbody.even tr th, table.daskeys tbody.even tr td {
  background: #FFFFFF;
}
