
<!-- das_keys_attrs.tmpl -->
<div class="page">
<h2>DAS keys/attributes</h2>
This page lists known DAS keys along with their attributes. Please note,
specific attribute depeneds on input DAS query and may not be shown with other
attributes for given DAS key. For example,
<b>file.size appears in file=/a/b/c/file.root</b>
DAS query output, but is not shown in
<b>file dataset=/a/b/c run=123</b>
query. This happens due to nature of underlying data-service APIs which may or
may not return specific attribute based on given input. It also means that
specific attribute may be shown in different DAS queries.
<br/>
<br/>
Please use
<a href="javascript:ToggleTagNames('id_qpat', 'link_qpat')" id="link_qpat" class="highlight">show</a> link
to turn on/off query patterns for given DAS key attributes.
<br/>

{%- set keys=attrs.keys() %}
{{- "" if  keys.sort()}}
{% for key in keys -%}
{%- set adict=attrs[key] %}
<h3>{{quote(key)}}</h3>
{%- set key_attrs=adict.keys() %}
{{- "" if  key_attrs.sort()}}
{% for attr in key_attrs -%}
{%- set plist=adict[attr] %}
&nbsp;&nbsp;&nbsp;<b><em>{{quote(attr)}}</em></b>
<br/>
<div class="hide" name="id_qpat">
{% for item in plist -%}
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
{{quote(item)}}<br/>
{%- endfor -%}
</div>
{%- endfor -%}
<br/>
<hr class="line" />

{%- endfor -%}

</div>
<!-- end of das_keys_attrs.tmpl -->
