{%- set daskeys = quote(daskeys) %}
{%- set id = quote(id) %}
{%- set coll = quote(collection) %}

<!-- das_record.tmpl -->
<hr class="line" />
<a href="/das/records/{{id}}?collection={{coll}}">{{id}}</a>, keys: <em>{{daskeys}}</em>.
<!-- end of das_record.tmpl -->

