{%- set msg=quote(msg) %}
{%- set tooltip_msg=quote(tooltip_msg) %}
<!-- das_tooltip.tmpl -->
<span class="tooltip" href="#">{{msg}}<span class="classic">{{tooltip_msg}}</span></span>
<!-- end das_tooltip.tmpl -->
