    .ui-autocomplete {
        /*width:  500px;*/
        font-size: 0.8em !important;
    }
    div.CodeMirror {
        border: 1px solid #ccc !important;
        border-radius: 4px;
        /*height: 50px !important;*/
    }
     /* this makes the editors (input) height to auto-resize
     http://codemirror.net/demo/resize.html
     */
    .CodeMirror {
        height: auto! important;
        /* padding: 5px; */
    }
    .hint-notice {
        color: #999;
    }
    .CodeMirror-scroll {
      overflow-y: hidden!important;
      overflow-x: auto!important;
    }


    .CodeMirror-hints {
        z-index: 30; /* need to be more than  24 of tooltip */
    }