.CodeMirror-hints-contextInfo {
  position: absolute;
  z-index: 10;
  border : double rgb(212, 208, 200) 3px;
  max-height: 200px;
  max-width: 400px;
  min-width: 400px;
  overflow: auto;
  background: #FFFFE1;
  font-family: Tahoma;
  font-size: 12px;
  padding: 5px;
}

.CodeMirror-hints-contextInfo {
  max-width: 500px;
  min-width: 200px;
}
